API_JogoDaForca/
Library/
library/
Temp/
temp/
Obj
obj
Build/
build/
Builds/
builds/
UserSettings/
usersettings/
MemoryCaptures/
memorycaptures/
Logs/
logs/
/ignore.conf
*.private
*.private.meta
^*.private.[0-9]+$
^*.private.[0-9]+.meta$
**/Assets/AssetStoreTools
**/assets/assetstoretools
/Assets/Plugins/PlasticSCM*
/assets/plugins/PlasticSCM*
.vs
.gradle
ExportedObj
.consulo
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.unitypackage
.collabignore
~UnityDirMonSyncFile~*
crashlytics-build.properties
**/Assets/AddressableAssetsData/*/*.bin*
**/assets/addressableassetsdata/*/*.bin*
**/Assets/StreamingAssets/aa.meta
**/assets/streamingassets/*/aa/*
.DS_Store*
Thumbs.db
Desktop.ini
**/Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@2.0.6/data~/payload.tar.7z
**/Library/PackageCache/com.unity.burst@1.8.12/.Runtime/libburst-llvm-16.dylib
**/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_8_1.bundle